mx_getopt.o
mx_flock.o
mx_log.o
mx_util.o
mx_proc.o
mxqps.o
mxq_group.o
mxqadmin.o
mxqdump.o
mxq_job.o
mxqd.o
mxqsub.o
mxqkill.o
test_mx_util.o
test_mx_log.o
test_mx_mysql.o
mxq_log.o
mx_mysql.o

mxqsub
/mxqsub.1
mxqadmin
mxqdump
mxqkill
mxqd
mxqps
test_mx_util
test_mx_log
test_mx_mysql

/web/pages/mxq/mxq
web/lighttpd.conf

*~

gmon.out
core
vgcore.*
