mx_getopt.o
mx_flock.o
mx_log.o
mx_util.o
mxq_group.o
mxqdump.o
mxq_job.o
mxqd.o
mxqsub.o
mxqkill.o
test_mx_util.o
test_mx_log.o
test_mx_mysql.o
mxq_log.o
mx_mysql.o

mxqsub
mxqsub.1
mxqdump
mxqkill
mxqd
test_mx_util
test_mx_log
test_mx_mysql

/web/pages/mxq/mxq

*~

gmon.out
core
vgcore.*
